@media (min-width: 700px) {

  .s1 {
  
    &__banner {
      height: 28.5714286vw;
    }
  }

  .s2 {
  
    &__banner {
      height: 28.5714286vw;
    }
  }
  
  .swiper {
    height: 28vw;
  }
  
  .swiper-slide {
    height: 28vw;
    
  }
}
